stages:
  - test
  - build

lint:
  stage: test
  image: php:8.2-cli
  script:
    - find . -name "*.php" -not -path "./vendor/*" -exec php -l {} \;

build:
  stage: build
  image: docker:24
  services:
    - name: docker:24-dind
      alias: docker

  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

  before_script:
    - docker info
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"

  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag=":latest"
        echo "Running on default branch: tagging as latest"
      else
        tag=":$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tagging as $tag"
      fi
    - docker build -t $CI_REGISTRY_IMAGE$tag .
    - docker push $CI_REGISTRY_IMAGE$tag

  rules:
    - if: $CI_COMMIT_BRANCH
